:root {
  --tiles:25;
}

#container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--tiles), auto );
    grid-template-rows : repeat(var(--tiles), auto );
}

.item{
    padding: 1em;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 1%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
